body{
    font-family: 'Anton', sans-serif;
font-family: 'Gentium Book Plus', serif;
}

.header{
    height: 85vh;
    width: 100%;
    background: linear-gradient( to right, rgba(0,0,0,0.9), rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/3253501/pexels-photo-3253501.jpeg);
    background-size: cover;
    color: rgb(237, 237, 246);
}

.h-100{
    height: 100%;
    width: 100%;
}

.btn{
    border-radius: 15rem !important; 
}

.message{
    background-color: rgb(156, 89, 244);
}

.contact{
    background-color: rgb(157, 247, 192);
}